@font-face {
    font-family: 'Gina';
    src: local('Gina Book'), local('Gina-Book'),
        url('Gina-Book.woff2') format('woff2'),
        url('Gina-Book.woff') format('woff'),
        url('Gina-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*
{
    font-size: 23px;
    font-family: 'Gina';
}

body
{
    padding: 0;
    border: 0;
    margin:0;
}


.head
{
    height: 100px;
    width:100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient( #f1efe9, #f5841f5a);
}
a
{
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
nav
{
    position: relative;
    left: -35%;
    cursor: pointer;
}

.body
{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#f5841f5a;
}

.creation
{
    height: 380px;
    width: 500px;
    background-color: #f1efe9;
    padding: 5%;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 35px;
}

.l
{
    border-radius: 10px;
    margin-bottom: 9%;
    text-align: center;
}




