@font-face {
    font-family: 'Gina';
    src: local('Gina Book'), local('Gina-Book'),
        url('Gina-Book.woff2') format('woff2'),
        url('Gina-Book.woff') format('woff'),
        url('Gina-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*
{
    font-size: 23px;
    font-family: 'Gina';
}

body
{
    padding: 0;
    border: 0;
    margin:0;
}


.head
{
    height: 100px;
    width:100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient( #f1efe9, #f5841f5a);
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.overlay-content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #dca66d;
    z-index: 2;
}
#menucontent
{
    list-style: none;
    margin-top:10%;
}
#menucontent li
{
    margin-bottom: 4%;
}
#closemenu
{
    position: relative;
    left: -10%;
}
#tag
{
    text-decoration: none;
    color: black;
}

#tag:hover
{
    color: antiquewhite;
}

#closemenu
{
    opacity: 0;
}
a
{
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

nav
{
    position: relative;
    left: -35%;
    cursor: pointer;
}

.body
{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#f5841f5a;
}

.creation
{
    height: 380px;
    width: 500px;
    background-color: #f1efe9;
    padding: 5%;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 35px;
}

.l
{
    border-radius: 10px;
    margin-bottom: 9%;
    text-align: center;
}




