body, div, h1, button , #x{
    margin: 0;
    padding: 0;
    border: 0;
}
body
{
    background:linear-gradient(90deg, black 20%, #FFD2D2 90%);
}

.signuppage {
    height: 100vh;
    width: 40%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
}

.signuppage h1 {
    color: #FFD2D2;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 20px;
}

#signup {
    margin-top: 20px;
    padding: 15px 80px;
    background-color: #FFD2D2;
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
}

.login {
    height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: right;
}

.login h1
{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 60px;
}

#mailinput ,#passinput , #submitinput
{
    background-color: #FFD2D2;
    border-radius: 15px;
    border-color: black;
    padding: 15px 60px;
}

#submitinput
{
    margin-top: 20px;
    padding: 15px 115px;
    background-color: black;
    color: #FFD2D2;
    border: 2px solid #FFD2D2;
    border-radius: 15px;
    cursor: pointer;
}

#signup:hover
{   
    color: #FFD2D2;
    background-color:black;
    border-color:#FFD2D2 ;
}

#submitinput:hover
{
    color: black;
    background-color:#FFD2D2;
    border-color:black ;
}

#x
{
    position: relative;
    bottom: 750px;
    left: 95%;
    color: black;
    font-size: 40px;
    background-color: #FFD2D2;
    cursor: pointer;
}