@font-face {
    font-family: 'Gina';
    src: local('Gina Book'), local('Gina-Book'),
        url('Gina-Book.woff2') format('woff2'),
        url('Gina-Book.woff') format('woff'),
        url('Gina-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body, h1, .head, .body, .tablecontent
{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Gina';
}
.head
{
    height: 150px;
    width: 100%;
    background-color: white;
    border-bottom: #00000027 solid 2px;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.overlay-content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #dca66d;
    z-index: 2;
}
#menucontent
{
    list-style: none;
    margin-top:10%;
}
#menucontent li
{
    margin-bottom: 4%;
}
#closemenu
{
    position: relative;
    left: -10%;
}
#tag
{
    text-decoration: none;
    color: black;
}

#tag:hover
{
    color: antiquewhite;
}

#closemenu
{
    opacity: 0;
}




#result
{ 
    font-size: 40px;
    color: #dca66d;
    text-align: center;
    position: relative;
    top: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.body
{
    height: 650px;
    width: 100%;
    background-color: white;
    text-decoration: underline rgba(245, 222, 179, 0.568);
}

.searchbar
{
    display:inline-block;
    position:relative;
    left: 32%;
}
#search
{
    margin-top: 50px;
    border-color: #000000;
    background-color: white;
    border-radius: 15px;
    padding: 8px 10px ;
    width: 500px;
}

#searchbt
{
    border: 2px solid black;
    margin-left: 35px;
    border-radius: 15px;
    padding: 8px 40px;
    color:#dca66d ;
    background-color: white;
}

#filter
{
    border: 2px solid black;
    margin-left: 35px;
    border-radius: 15px;
    padding: 8px 40px;
    color:#dca66d ;
    background-color: white;
    
}

#searchbt:hover, #filter:hover,#back:hover
{
    background-color:#000000 ;
    border-color: #ffffff ;
    color: #dca66d;
    text-decoration:underline #dca66d;
}




.group{

    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 300px;
    background-color: rgb(0, 0, 0);
    text-decoration: underline #dca66d93;
    position: relative;
    left: 75px;
    top: 100px;
    border-radius: 20px;
}
.group_cnt{
    max-width: 300px;
    color: #d39048;
    position:relative;
    border-top-right-radius: 19px;
    border-top-left-radius: 19px;
}

.foot
{
    background-color: black;
    text-align: center;
    color: white;
    
}
