@font-face {
    font-family: 'Gina';
    src: local('Gina Book'), local('Gina-Book'),
        url('Gina-Book.woff2') format('woff2'),
        url('Gina-Book.woff') format('woff'),
        url('Gina-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*
{
    font-size: 23px;
    font-family: 'Gina';
}

body
{
    padding: 0;
    border: 0;
    margin:0;
    background: linear-gradient(-145deg, #f5cd56e1, #f5831fd7 );
}


.head
{
    height: 100px;
    width:100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient( #f1efe9, #f5831fad); */
}
.overlay, .postInfo {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.overlay-content, .postContent {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #dca66d;
    z-index: 2;
}
#menucontent, #content
{
    list-style: none;
    margin-top:10%;
}
#menucontent li, #content li
{
    margin-bottom: 4%;
}
#closemenu
{
    position: relative;
    left: -38%;
    top: 4%;
    font-size: 30px;
}
#tag
{
    text-decoration: none;
    color: black;
}

#tag:hover
{
    color: antiquewhite;
}

a
{
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

nav
{
    position: relative;
    left: -35%;
    cursor: pointer;
}

.body
{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color:#f5831fad; */
}

.creation
{
    height: 470px;
    width: 500px;
    background-color: #ffffff22;
    padding: 5%;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 55px;
}

.l
{
    border-radius: 25px;
    margin-bottom: 9%;
    text-align: center;
    color: #f5831f;
    border-color: #f5831f;
}

#create
{
    background-color: #f5831f;
    border:0;
    color: bisque;
}

#create:hover
{
    background-color: bisque;
    color: #f5831f;
}

#content li
{
    font-size: 40px;
}

.startbt
{
    color: bisque;
    background-color: black;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    padding: 15px;
}
