@font-face {
    font-family: 'Gina';
    src: local('Gina Book'), local('Gina-Book'),
        url('Gina-Book.woff2') format('woff2'),
        url('Gina-Book.woff') format('woff'),
        url('Gina-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



body, h1, .head, .body, ul
{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Gina';
}

.head
{
    height: 100px;
    width:100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#dca66d, #b8f0ed);
}
.overlay , .booth{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.overlay-content , .boothContent{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #dca66d;
    z-index: 2;
}
#menucontent 
{
    list-style: none;
    margin-top:10%;
}
#menucontent li
{
    margin-bottom: 4%;
}
#closemenu
{
    position: relative;
    left: -38%;
    top: 4%;
    font-size: 30px;
}
#tag
{
    text-decoration: none;
    color: black;
}

#tag:hover
{
    color: antiquewhite;
}

a
{
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

nav
{
    position: relative;
    left: -35%;
    cursor: pointer;
}


#result
{ 
    font-size: 40px;
    color: black;
    text-align: center;
    position: relative;
    top: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.body
{
    height: 100%;
    width: 100%;
    background-color:#b8f0ed;
}

.searchbar
{
    display:inline-block;
    position:relative;
    left: 30%;
}
#search
{
    margin-top: 50px;
    border-color: 0;
    background-color: #dca66d;
    border-radius: 15px;
    padding: 8px 10px ;
    width: 500px;
}

#searchbt
{
    border: 0;
    margin-left: 35px;
    border-radius: 15px;
    padding: 8px 40px;
    color:black ;
    background-color: #dca66d;
    cursor: pointer;
}


#searchbt:hover
{
    background-color:#dca66d;
}

.allgroup
{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;

}
.group
{
    height: 250px;
    width: 250px;
    background-color: #000000;
    border: 1px black;
    border-radius: 25px;
    margin: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

ul li
{
    list-style: none;
    color: antiquewhite;
}
.group img
{
    height:130px;
    width:170px;
    border-radius: 15px;
}

.boothContent li{
    text-align: center;
    margin: 5%;
    color: #000000;
    font-size: 40px;
}
.bt
{
    color: bisque;
    background-color: black;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    padding: 15px;
}
#status{
    color: greenyellow;
}