@font-face {
    font-family: 'Gina';
    src: local('Gina Book'), local('Gina-Book'),
        url('Gina-Book.woff2') format('woff2'),
        url('Gina-Book.woff') format('woff'),
        url('Gina-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, .head, .menu, .h1, ul, .body, .foot
{
    padding: 0;
    border: 0;
    margin: 0;
   
}
body
{
    
    background: linear-gradient( black 20%, #dca66d);
    font-family: 'Gina';
}
.head
{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1
{
    position: relative;
    top: 25px;
    color: #dca66d;
 
}

.menu
{
    height: 70px;
    width: 100%;
}

ul li
{
    display: inline-block;
    list-style: none;
    position: relative;
    padding: 25px;
}
li a {
    text-align: center;
    text-decoration: none;
    color: #dca66d;
    margin-right: 40px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
    font-weight: normal;
    transition: 6ms;
    position: relative;
}

li a::before,
li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -8px;
    background-color: #dca66d;
    transition: width 0.3s;
}

li a::before {
    left: 0;
}

li a:hover::before {
    width: 100%;
}

.body
{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#metaconnect
{
    margin-top: 70px;
    padding: 15px 35px;
    border-radius: 15px;
    background-color: #dca66d;
    color: black;
    border: 2px solid;
}

#metaconnect:hover
{
    background-color: black ;
    color: #dca66d;   
    border-color: #dca66d;
}

.foot
{
    text-align: center;

}
#login
{
    margin-left: 450px;
}
#signup
{
    margin-left: 0;
}
