body, div, h1, button {
    margin: 0;
    padding: 0;
    border: 0;
}
body
{
    background:linear-gradient(90deg, #FFD2D2 20%, black 90%);
}

.loginpage {
    height: 100vh;
    width: 40%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
}

.loginpage h1 {
    color: black;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 20px;
}

#login {
    margin-top: 20px;
    padding: 15px 80px;
    background-color: black;
    color: #FFD2D2;
    border: 2px solid #FFD2D2;
    border-radius: 15px;
    cursor: pointer;
}

.signup {
    height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: right;
}

.signup h1
{
    color:#FFD2D2;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 60px;
}

#nameinput ,#passinput , #submitinput, #checkpassinput, #mailinput
{
    background-color: black;
    border-radius: 15px;
    border-color: #FFD2D2;
    padding: 15px 60px;
}

#submitinput
{
    margin-top: 20px;
    padding: 15px 115px;
    background-color: #FFD2D2;
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
}

::placeholder
{
    color: #FFD2D2;
}


#login:hover
{   
    color: black;
    background-color:#FFD2D2;
    border-color:black;
}

#submitinput:hover
{
    color: #FFD2D2;
    background-color:black;
    border-color:#FFD2D2 ;
}


